<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>The Amazing Web</title>
        <link href="{% static 'index.css' %}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>

    <header>
        <div class="onback">
            <img class="forlogo" src="{% static 'logos.jpg' %}" alt="logo"/>
            <img class="forlogos" src="{% static 'logos1.jpg' %}" alt="logo2"/>
            <h1><a href = "{% url 'AppBasic:Home' %}">Welcome to Home Page</a></h1>
            <div class="arts">
            {% if user.is_authenticated %}
                <p><a href="{% url 'AppBasic:logout' %}">Log Out</a></p>
                <p><a href="{% url 'AppBasic:Contributions' %}">Contributions</a></p>
                <p><a href="{% url 'AppBasic:PostHere' %}">Post</a></p>
            {% else %}
                <p><a href="{% url 'AppBasic:user_login' %}">Log In</a></p>
                <p><a href="{% url 'AppBasic:SignUp' %}">Sign Up</a></p>
                <p><a href="{% url 'AppBasic:Contributions' %}">Contributions</a></p>
            {% endif %}
            </div>
        </div>
    </header>
    {% block block_content %}
    <body>
        <div class="imag">
        <img src="{% static 'walls.jpg' %}" alt = "builds"/>
        </div>
    </body>
    {% endblock %}
    <footer>
        <p>&copy;Designed for excellence.</p>
        <div class="iconfonts">
        <a href="https://www.facebook.com"><span class="brandico-facebook-rect" style="color:rgb(50, 50, 158);"></span></a>
        <a href="https://www.instagram.com"><span class="brandico-instagram-filled" style="color:#4E433C;"></span></a>
        <a href="https://www.linkedin.com"><span class="brandico-linkedin-rect" style="color:#4875B4;"></span></a>
        <a href="https://www.twitter.com"><span class="brandico-twitter-bird" style="color:#33CCFF;"></span></a>
        </div>
    </footer>
</html>